@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@700&display=swap');
    
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 95%);
  }

main {
  margin: auto;
  display: flex;
  width: 50%;
  height: 120vh;
  align-items: center;
  justify-content: center;
}

div {
  padding: 2em;
  height: 50%;
  width: 100%;
  

}
.sedan {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.suv {
  background-color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

button {
  border-radius: 15px;
  font-size: 10px;
  padding: 10px;
  font-family: "Lexend Deca";
  font-weight:600; 
  }
.sedbut{border-color:hsl(31, 77%, 52%) ;
color: hsl(31, 77%, 52%);}
.suvbut{border-color: hsl(184, 100%, 22%);
color: hsl(184, 100%, 22%);;}
.luxbut{border-color: hsl(179, 100%, 13%);
color: hsl(179, 100%, 13%);}

h3{padding-top: 20px;
padding-bottom: 20px;
font-size: 25px;
font-family: "Big Shoulders Display";
color: hsla(0, 0%, 100%, 0.75);}

p{padding-bottom: 20px;
  font-family: "Lexend Deca";
  font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);}