@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {font-family: 'Poppins', sans-serif;}

.contentwrap {
    background-image: url("images/bg-intro-desktop.png");
    background-color: #ff616c;
    
}

main {
    margin: auto;
    display: flex;
    width: 80%;
    height: 100vh;
    align-items: center;
    justify-content: center;


}
.leftcontent {
padding-right: 20px;}
.leftcontent> h2{ font-size: 40px; color: white
; font-weight: 800;
margin-bottom: 20px;
}

.leftcontent> p{ font-size: 16px; color: white
    ; font-weight: 500;}

    .rightcontent {
        height: 500px;
        width: 45%;
        margin-left: 20px;
    }

.banner {
    background-color: hsl(248, 32%, 49%);
    color: white;
    text-align: center;
    padding: 20px 50px 20px 50px;
    margin-bottom: 20px;
    border-radius: 10px;
}


.formwrap {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

form {
    display: grid;
    height: 300px;
    width: 100%;
    padding-left: 30px;
    font-family: 'Poppins';
}



.button {
    background-color: hsl(154, 59%, 51%);
    color: white;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600
}

input {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 50px;
    line-height: px;
    border-radius: 4px;
}


input {
    width: 85%;
    padding: 10px;
    margin: 0;
    font-family: 'Poppins';
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-size: 16px;
    position: relative;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #3ca9e2;
}

input[type="text"]:focus:invalid,
input[type="password"]:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
}

input[type="text"]:valid~.validation,
input[type="password"]:valid~.validation {
    display: block;
    border-color: #0C0;}

    .footnote {font-size: 10px;
    text-align: center;}